:root {
    --header-color: #ffffff;
    --first-tittle-color: #ffffff;
    --second-tittle-color: #212121;
    --text-tittle-color: #757575;
    --accent-color: #2196f3;
    --basic-color: #2f303a;
    --contacts-color: rgba(255, 255, 255, 0.6);
    --background-team: #F5F4FA;
    --icon:#AFB1B8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text-tittle-color);
    letter-spacing: 0.03em;
    font-size: 14px;
    background-color: var(--first-tittle-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


/***************************HEADER*******************/

.header>.container,
.header-navigation {
    display: flex;
    align-items: center;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    min-height: 80px;
    border-bottom: 1px solid #ECECEC;
}

.header-logo-link {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
    color: var(--second-tittle-color);
}

.style-logo {
    color: var(--accent-color);
}



.header-list {
    display: flex;
    margin-left: auto;
   
}

.menu{
    margin-right: 30px;
}


.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--second-tittle-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
    color: var( --accent-color);
}

.current {
    position: relative;
}
.current:after{
    display: block;
    content:"";
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -33px;
    background-color: var(--accent-color);
    color: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);      
}
.header-letter{ margin-right: 10px;
    fill: currentColor;
}
.header-mail,
.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    color: var(--text-tittle-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.header-mail {
    margin-right: 30px;
    
}

.header-mail:hover,
.header-mail:focus {
    color: var(--accent-color);
}

.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}


/************************HERO**********************/

.hero {
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image:linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/logo.jpg);
    width: 1600px;
    background-repeat: no-repeat;
    background-position: center;
    block-size: cover;
    margin-left: auto;
    margin-right: auto;
}
.hero-tittle {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: var(--first-tittle-color);
}

.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    margin-left: auto;
    margin-right: auto;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    min-width: 200px;
    height: 50px;
    color: var(--first-tittle-color);
}


/***********************ADVANTAGE********************/

.advantage {
    padding-top: 94px;
    padding-bottom: 94px;
}

.advantage-list {
    margin-right: -30px;
    display: flex;
}

.advantage-item {
    width: calc (100% / 4 - 30px);
    margin-right: 30px;
}
.advantage-svg{
    height: 120px;
    background: #F5F4FA;
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 30px;
}
.advantage-tittle {
    line-height: 1.14;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--second-tittle-color);
    margin-bottom: 10px;
}

.advantage-sub-tittle {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-tittle-color)
}


/***********************WORK*********************/

.work {
    padding-bottom: 94px;
}

.work-tittle {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--second-tittle-color);
}

.work-list {
    display: flex;
    position: relative;
}
.work-top-text{
    bottom: 5px;
    width: 370px;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;
    position: absolute;
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
text-transform: uppercase;
background: rgba(47, 48, 58, 0.8);
color: var(--first-tittle-color);
}

.work-item:not(:last-child) {
    margin-right: 30px;
}


/*---------------------TEAM---------*/

.team {
    min-height: 648px;
    background: var(--background-team);
    padding-bottom: 94px;
    padding-top: 94px;
}

.team-tittle {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--second-tittle-color);
}

.team-list {
    display: flex;
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-item {
    background-color: var(--first-tittle-color);
    max-width: 270px;
    min-height: 368px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.name {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-mini-tittle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color:var(--second-tittle-color);
}

.team-sub-mini-tittle {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
.team-list-icons{
    margin: 16px 32px 0 32px;
    display: flex;
    justify-content: center
}
.team-item-icons:not(:last-child){
    margin-right: 10px;
}
    .team-icons-link{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 44px;
        height: 44px;
       fill: #AFB1B8;
       transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       
    }

    .team-icons-link:hover,
    .team-icons-link:focus{
       
        fill: var(--first-tittle-color);
        background-color:var(--accent-color);
        
     }

/*---------------------CLIENTS-------------------*/
.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-tittle{
    font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
color: var(--second-tittle-color);
margin-bottom: 50px;

}
.clients-list{
    display: flex;
    justify-content: center;
}
.clients-item{
    
    
}
    

    .clients-item:not(:last-child){
        margin-right: 30px;
    }
    .clients-icons-link:hover,
    .clients-icons-link:focus{
        border: 1px solid var(--accent-color);
        border-radius: 4px;
        fill: var(--accent-color);
    }
    .clients-icons-link{
        width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
/*---------------FOOTER_CONTACTS-----------------*/

.contacts {
    min-height: 252px;
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--basic-color);
}
.contacts>.container{display: flex;}
.contacts-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--first-tittle-color);
}

.style-logo {
    color: var(--accent-color);
}

.adress {
    margin-top: 20px;
}

.contacts-list {}

.contacts-adress {
    font-style: normal;
}

.contacts-adress {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--first-tittle-color);
}

.contacts-item {
    margin-top: 9px;
}

.contacts-mail-link,
.contacts-tel-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--contacts-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-tel-link:hover,
.contacts-tel-link:focus {
    color: var(--accent-color);
}
.contacts-tittle{
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;

color: var(--first-tittle-color);
}
.contacts-mail-link:hover,
.contacts-mail-link:focus {
    color: var(--accent-color);}
    .contacts-icons-list{display: flex;}
    .contacts-icons{
        width: 206px;
        height: 80px;
        margin-left: 70px;
    }
    .contacts-icons-list{
        margin-top: 20px;
    }
    .contacts-icons-item:not(:last-child){
        margin-right: 10px;

    }
        
         .contacts-icons-link:hover,
         .contacts-icons-link:focus{
             background-color: var(--accent-color);

         }

    .contacts-icons-link{
       display: flex;
        justify-content: center;
        align-items: center;
         width: 44px;
        height: 44px;
        border-radius: 50%;
         background-color: rgba(255, 255, 255, 0.1);
        fill: #FFFFFF;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       
    }
    .subscribe{
        margin-left: 93px;
    }
    .subscribe-form{
         display: flex;
        align-items: flex-end;
    }
    .mail{
        display: flex;
        flex-direction: column;
        
    }
    .mail__label{
        margin-bottom: 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--first-tittle-color);
    }
    .mail__input{
        min-width: 358px ;
       height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--first-tittle-color);
    }
    .mail__input::placeholder{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        
        color: rgba(255, 255, 255, 0.6);
    }

    .subscribe-form__button{
        position: relative;
        margin-left: 12px;
        height: 50px;
        padding: 10px 29px;
        padding-right: 62px;
        background-color: var(--accent-color);
        border-radius: 4px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height:  1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        
        border: none;
        color: var(--first-tittle-color);
    }
.subscribe-form__icon{
    right: 28px;
    top: 13px;
    position: absolute;
    fill:var(--first-tittle-color);
    background-size: contain;

}
/*-------------------MODAL--------------*/
.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    opacity: 1;
    transition: opacity  250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    
    
}
.modal{
    padding-left: 41px;
    padding-top: 40px;
    padding-right: 39px;
    padding-bottom: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background: var(--first-tittle-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}
.vector:hover,
.vector:focus{
fill:var(--accent-color);
}

.is-hidden{
    opacity: 0;
    pointer-events:none;
    visibility:hidden;

}

.modal-button{
    position: absolute;
    right: 8px;
    top: 10px;
    width: 30px;
    height: 30px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
box-sizing: border-box;
border-radius: 100%;
display: flex;
align-items: center;
justify-content: center;
}
.modal-tittle{
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1,15;
    text-align: center;
    color: var(--second-tittle-color);
    text-align: center;
}
.modal-fild{ 
    margin-bottom: 10px;
    
}
.modal-label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1,6;
    letter-spacing: 0.01em;
    color: var(--text-tittle-color);
}
    
    
.input-wrap{
    margin-top: 4px;
position: relative;
}
.modal-input{
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 30px;
    padding-top: 11px;
    padding-bottom: 11px;
    outline: none;
}
.modal-input:focus {
border-color: var(--accent-color);
}

.input-icon{
    position: absolute;
    left: 8px;
    top: 50%;
    transform:translateY(-50%)
}
.modal-input:focus + .input-icon {
    fill: var(--accent-color);

}
.modal-coment{
    margin-top: 4px;
    padding-left: 16px;
    padding-top: 12px;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    resize: none;
}
.modal-coment:focus {
    outline-color: var(--accent-color);
}
.form-link{
    color:var(--accent-color)
}



.modal-license{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    line-height:1.71;
}
.license-icon{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 2px solid var(--second-tittle-color);
    fill:transparent;
}
.modal-check {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
} 
.modal-check:checked+.license-icon {
    background-color: var(--accent-color);
    border: none;
    fill:var(--first-tittle-color);
}


.modal-btn-sumbit{
    margin: 0 auto;
color: var(--first-tittle-color);
background-color: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: block;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
padding: 10px 55px;
/*-------------II page Profile---------*/


/*----------CATALOG------------*/

.catalog {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filtr-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center
}

.filtr-item:not(:last-child) {
    margin-right: 8px;
}
.filtr-btn:hover,
.filtr-btn:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--first-tittle-color);
    background-color: var(--accent-color);
}
.filtr-btn {
    padding: 6px 22px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}



.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}

.projects-item:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

.projects-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    width: 370px;
    min-height: 404px;
    position: relative;
}
.projects-item:hover .project-top-text{
    transform: translate(0);
   
    
}
.progect-item-top{
    overflow: hidden;
    position: relative;
}
.project-top-text{
    position: absolute;
    top: 0;
    left: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 67px;
    padding-bottom: 63px;
    color: var(--first-tittle-color);
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

}
.projects-item:nth-last-child(3n+1) {
    margin-right: 0;
}

.projects-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.catalog-name {
    padding: 24px 20px;
}

.project-mini-tittle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--second-tittle-color);
}

.project-sub-mini-tittle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-tittle-color);
}
