body {
    font-family: "Roboto", sans-serif;
    color: var(--text-tittle-color);
    letter-spacing: 0.03em;
    font-size: 14px;
    background-color: var(--first-tittle-color);
}
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}