:root {
    --header-color: #ffffff;
    --first-tittle-color: #ffffff;
    --second-tittle-color: #212121;
    --text-tittle-color: #757575;
    --accent-color: #2196f3;
    --basic-color: #2f303a;
    --contacts-color: rgba(255, 255, 255, 0.6);
    --background-team: #F5F4FA;
    --icon: #AFB1B8;
    --border-color-one: rgba(33, 33, 33, 0.2);
    --first-item-color: #EEEEEE;
}